# Игнорировать все изображения
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.webp
*.ico
*.tiff
*.raw

# Игнорировать все JSON файлы
*.json

# SQLite и прочие базы
*.db
*.db-journal
*.db-shm
*.db-wal

# Python — байткод и кэш
__pycache__/
*.py[cod]
*$py.class